


.card {
    display: flex;
    flex-direction: column;
    height: 482px;
    width: 335px;
}



.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    box-sizing: border-box;
    
}

#img {
    height: 333px;
    width: 333px;
    object-fit: cover;
}