#input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
}

#button{
    width: 20%;
    padding: 10px;
    background: white;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

#button:hover{
    background: #0b7dda;
}

#btncontrol{
    display: flex;
    padding-right: 30px;
}